.dropdown-toggle, .dropdown-item {
    font-size: 13px !important;
}

.modal-body-text {
    font-size: 14px !important;
}

.form-title {
    font-weight: bold;
    font-size: 13px !important;
    color: #000 !important;
}